#admin-title {
    color: #C891E6;
    font-weight: 700;
    font-size: calc(1.475rem + 2.7vw);
    text-decoration: underline;
}
#index-title {
    color: #025BA8;
    font-weight: 700;
    font-size: calc(1.475rem + 2.7vw);
}

/* Display Page */
#body {
  background-color: #2A72D3
}
.display-page {
    background-image: url("../images/display_default.jpg");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    border-radius: 20px;
}
.display-home {
    background-image: url("../images/companion.jpg");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    border-radius: 20px;
}
.shadow {
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 20px;
}
#message-container > * {
    padding: 2rem;
    text-align: center;
    color: white;
}

/* Index Page */

body {
    background-color: #f0f4f8;
}
.hero-img {
  height: 200px;
  object-fit: contain;
}


@media (min-width: 765px) {
  .hero-img {
    height: 375px;
  }
}

@media (min-width: 1024px) {
  .hero-img {
    height: 525px;
  }
}

@media (min-width: 1440px) {
  .hero-img {
    height: 570px;
  }
}
