{% extends "index.html" %}
{% load static %}

{% block body_class %}display-page{% endblock %}

{% block content %}

<div class="container flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <div id="message-container">
            {% if show_message and message %}
                <h1>{{ message.scheduled_at }}</h1>
                <h2>{{ message.content }}</h2>
            {% else %}
                <h1>Hi {{ request.user.username }}, no messages yet.</h1>
            {% endif %}
        </div>
        {% if show_message and message %}
        <audio id="tts-audio" controls>
                <source src="{% url 'text_to_speech' %}"  type="audio/mpeg">
                Your browser does not support the audio element.
        </audio>
        {% endif %}
    </div>
</div>



<script>
function fetchMessage() {
    fetch("{% url 'get_message_api' %}")
        .then(response => response.json())
        .then(data => {
            console.log(data);
            console.log("Hello from fetchMessage");
            const container = document.getElementById("message-container");
            if (data.show_message && data.message) {
                if (data.message_type === 1) {
                    container.innerHTML = `<h1>${data.message.scheduled_at}</h1>
                                        <h2>${data.message.content} in ${data.minutes} minutes</h2>`;
                }
                else {
                    container.innerHTML = `<h1>${data.message.scheduled_at}</h1>
                                        <h2>${data.message.content}</h2>`;
                }
            } else {
                container.innerHTML = `<h1>Hi ${data.username1}, no messages yet.</h1>`;
            }
        })
        .catch(err => console.error('Error fetching message:', err));
}

// Poll every 30 seconds
setInterval(fetchMessage, 30000); // 5 seconds for testing, change to 30000 for 30 seconds
</script>


{% endblock %}
